<h2>Per Country</h2>
<hr class="my-4">
<div class="flex flex-row w-full">
    <app-country-input
        (onEnter)="searchHandler($event)"
        (onDebounce)="suggestionsHandler($event)"
        placeholder="Search country..."
    ></app-country-input>
</div>
<hr class="my-4">
<div *ngIf="hasError" class="bg-red-100 text-red-700 p-4">
    No se encontró nada con el término {{ query }}
</div>
<app-country-table class="grid grid-cols-1 animate__animated animate__fadeIn" [countries]="countries"></app-country-table>
